@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.header{
    position: absolute;
    z-index: 1;
    width: 100%;
    .head{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        width: 100%;
        .main{
            font-size: 20px;   
            margin-top: 20px; 
            font-family: "Raleway", sans-serif;
        }
        .nav{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-size: 13px;
            margin-top: 20px; 
            a{
                
                text-decoration: none;
                color: white;
                font-family: "Raleway", sans-serif;

            }
            .navs{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            font-size: 13px;
            a{
                
                text-decoration: none;
                color: rgb(59, 59, 59);
                font-family: "Raleway", sans-serif;
                &:hover{
                    color: rgb(160, 160, 160);
                    transition: all 0.7s;
                }

            }
            }
        }
    }
    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
        color: white;
    }
}